<h2 class="titre">Ajouter une nouvelle promotion</h2>
      <form enctype="multipart/form-data" method="post" class="form-horizontal" role="form">

        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Nom de la promotion</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" [(ngModel)]="name" placeholder="Nom">
          </div>
        </div>

        <div class="form-group">
          <label for="about" class="col-sm-3 control-label">url</label>
          <div class="col-sm-9">
            <textarea class="form-control" placeholder="URL" [(ngModel)]="url"
              name="description"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="about" class="col-sm-3 control-label">Date début</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" name="dateDebut" [(ngModel)]="dateDebut1" placeholder="date de début">
          </div>
        </div>

        <div class="form-group">
          <label for="about" class="col-sm-3 control-label">Date Fin</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" name="dateFin" [(ngModel)]="dateFin1" placeholder="date de Fin">
          </div>
        </div> 

        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Affiche de promotion</label>
          <div class="col-sm-3">
            <label class="control-label small" for="file_img">Format accépté (jpg/png):</label>
            <input type="file" name="file" (change)="onFileSelected($event)">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9" class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" (click)="onUpload()">Ajouter</button>
          </div>
        </div>
      </form>

