<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
      }
  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#44006b, #ad1fff);
        overflow: hidden;
      }
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            DigiCard, the best offer <br />
            <span style="color: hsl(218, 81%, 75%)">for your business</span>
          </h1>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="form1">
  
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" formControlName="mail"/>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
  
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control" formControlName="mdp"/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
  
                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  
                </div>
  
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" (click)="login()">
                  Sign up
                </button>
                <a type="submit" (click)="open1()">
                  demande de partenariat
                </a>
  
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  <div class="modal fade my-modal" tabindex="-1" role="dialog" #add>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
 
        
                <form [formGroup]="reactiveForm" #form="ngForm">
                  <div class="row">
                    <div class="col mb-2">
                      <label for="societe" class="form-label">Nom de l'organisme :</label>
                      <input type="text" id="societe" name="societe" formControlName="societe" required minlength="2" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="societe.invalid && (societe.dirty || societe.touched)">
                      <div *ngIf="societe.invalid && (societe.dirty || societe.touched)" class="invalid-feedback">
                        <div *ngIf="societe.errors?.['required']">
                          champ obligatoire.
                        </div>
                        <div *ngIf="societe.errors?.['minlength']">
                          au minimum 3 caractère.
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col mb-2">
                      <label for="mail" class="form-label">Email:</label>
                      <input type="mail" id="mail" name="mail" formControlName="mail" placeholder="exemple@exemple.com" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="mail.invalid && (mail.dirty || mail.touched)">
                      <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="invalid-feedback">
                        <div *ngIf="mail.errors?.['required']">
                          champ obligatoire.
                        </div>
                        <div *ngIf="!mail.errors?.['required'] && !mail.errors?.['minlength'] && !mail.errors?.['maxlength'] && mail.errors?.['emailValidator']">
                          Format email invalide.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mb-2">
                      <label for="mdp" class="form-label">Mot de passe:</label>
                      <div class="input-group input-group-sm has-validation">
                        <input [type]="showPassword ? 'text' : 'password'" id="mdp" name="mdp" formControlName="mdp" required minlength="8" class="form-control form-control-sm" [class.is-invalid]="mdp.invalid && (mdp.dirty || mdp.touched)">
                        <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                          </svg>
                        </button>
                        <div *ngIf="mdp.invalid && (mdp.dirty || mdp.touched)" class="invalid-feedback">
                          <div *ngIf="mdp.errors?.['required']">
                            champ obligatoire.
                          </div>
                          <div *ngIf="mdp.errors?.['minlength']">
                            au minimum 8 caractère.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--1-->
                  <div class="row">
                    <div class="col mb-2">
                      <label for="codePostal" class="form-label">code Postal :</label>
                      <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" id="codePostal" name="codePostal" formControlName="codePostal"  required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="codePostal.invalid && (codePostal.dirty || codePostal.touched)">
                      <div *ngIf="codePostal.invalid && (codePostal.dirty || codePostal.touched)" class="invalid-feedback">
                        <div *ngIf="codePostal.errors?.['required']">
                          champ obligatoire.
                        </div>
                        <div *ngIf="codePostal.errors?.['minlength']">
                          au minimum 4 chiffre.
                        </div>
        
                      </div>
                    </div>
                  </div>
                  <!--2-->
                  <div class="row">
                    <div class="col mb-2">
                      <label for="tel" class="form-label">tel :</label>
                      <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" id="tel" name="tel" formControlName="tel"  required minlength="8" maxlength="10" class="form-control form-control-sm" [class.is-invalid]="tel.invalid && (tel.dirty || tel.touched)">
                      <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="invalid-feedback">
                        <div *ngIf="tel.errors?.['required']">
                          champ obligatoire.
                        </div>
                        <div *ngIf="tel.errors?.['minlength']">
                          au minimum 8 chiffre.
                        </div>
    
                      </div>
                    </div>
                  </div>
                  <!--3-->
                  <div class="row">
                    <div class="col mb-2">
                      <label for="Fax" class="form-label">Fax :</label>
                      <input onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" id="Fax" name="Fax" formControlName="Fax"  required minlength="8" maxlength="10" class="form-control form-control-sm" [class.is-invalid]="Fax.invalid && (Fax.dirty || Fax.touched)">
                      <div *ngIf="Fax.invalid && (Fax.dirty || Fax.touched)" class="invalid-feedback">
                        <div *ngIf="Fax.errors?.['required']">
                          champ obligatoire.
                        </div>
                        <div *ngIf="Fax.errors?.['minlength']">
                          au minimum 8 chiffre.
                        </div>
    
                      </div>
                    </div>
                  </div>
                  <!--4-->
                  <div class="row">
                    <div class="col mb-2">
                      <label for="img" class="form-label">Image :</label>
                      <input (change)="onFileSelectedAdd($event)"  type="file" id="img" name="img" formControlName="img"  class="form-control form-control-sm" [class.is-invalid]="img.invalid && (img.dirty || img.touched)">
                      <div *ngIf="img.invalid && (img.dirty || img.touched)" class="invalid-feedback">
                        <div *ngIf="img.errors?.['required']">
                          champ obligatoire.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col mb-2 d-grid">
                      <button type="button" class="btn btn-sm btn-primary" (click)="validate()">Valider</button>
                    </div>
                  </div>
                </form>
             
            
                <button type="button" class="btn btn-secondary" (click)="close1()">Close
                </button>
        </div>
      </div>
    </div>
  </div>
