<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <!--Title-->
    <div class="c-sidebar-brand d-lg-down-none">
    <h2>DigiCard</h2>
    </div>
    <!--Menu-->

    <!--dashboard-->
    <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="home">
    <svg class="c-sidebar-nav-icon">
    <use xlink:href="assets/icons/svg/free.svg#cil-speedometer"></use>
    </svg> Tableau de bord</a>
    </li>

    <!--Promotions-->
    <li class="c-sidebar-nav-title"> Promotions</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" routerLink="promotions" routerLinkActive="active">
        <svg class="c-sidebar-nav-icon">
        <use xlink:href="assets/icons/svg/free.svg#cil-star"></use>
        </svg> Consulter les promotions
    </a>
    </li>

    <!--Jeux-->
    <li class="c-sidebar-nav-title">Jeux</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="jeux">
    <svg class="c-sidebar-nav-icon">
    <use xlink:href="assets/icons/svg/free.svg#cil-puzzle"></use>
    </svg> Configurer jeux</a>
    </li>

    <!--Cadeaux-->
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" >
    <svg class="c-sidebar-nav-icon">
    <use xlink:href="assets/icons/svg/free.svg#cil-gift"></use>
    </svg> Cadeaux</a>
    </li>

    <!--Réclamations-->
    <li class="c-sidebar-nav-title">Réclamations</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="réclamations" routerLinkActive="active">
    <svg class="c-sidebar-nav-icon">
    <use xlink:href="assets/icons/svg/free.svg#cil-warning"></use>
    </svg> Consulter les Réclamations</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="repportRec">
    <svg class="c-sidebar-nav-icon">
    <use xlink:href="assets/icons/svg/free.svg#cil-chart"></use>
    </svg> Rapport</a>
    </li>

    <!--Feedbacks-->
    <li class="c-sidebar-nav-title">Feedbacks</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="feedbacks" routerLinkActive="active">
    <svg class="c-sidebar-nav-icon">    
    <use xlink:href="assets/icons/svg/free.svg#cil-chat-bubble"></use>
    </svg> Consulter les Feedbacks</a></li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" >
    <svg class="c-sidebar-nav-icon">
    <use xlink:href="assets/icons/svg/free.svg#cil-chart"></use>
    </svg> Rapport</a>
    </li>

    <!--Feedbacks-->
    <li class="c-sidebar-nav-title">Suppléments</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#" target="_top">
    <svg class="c-sidebar-nav-icon">
    <use xlink:href="assets/icons/svg/free.svg#cil-account-logout"></use>
    </svg> Logout</a></li>
    
    
    </ul>


    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
    </div>

    <div class="c-wrapper c-fixed-components">
</div>