.sidebar{
    margin-top: 0%;
}
.main-content{
    transition: margin-left 300ms;
    width: 100%;
    height: 100%;
    background-color: #f4fefe;
    margin-left: auto; margin-right: auto;
}


.main-content *{
    padding-top: 30px;
    background-color: #f4fefe;
}

/*
.header{
    top: 0;
    position: fixed;
}
*/

.main { 
    width: 800px;
    margin: 0 auto;
}

