
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#badaff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#a2ffec);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffe6c2);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#f1b8c2);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.date{
    align-items: baseline;
}

.titre {
    font: Regular 400;
    text-align: center;
    font-size: 45px;
    color: #0570db;
    margin-bottom: 3%;
}