<h2 class="titre">Gérer votre enquête de satisfaction !</h2>
<div class="row">

    <div class="col-lg-6" style="margin-left: auto; margin-right: auto;">

        <!-- Basic Card Example -->
        <div class="card shadow mb-4">

            <div class="card-body">

                <!--Question-->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" disabled="{{valide}}" placeholder="Question" aria-label="Recipient's username"
                        aria-describedby="basic-addon2" [(ngModel)]="question">

                </div>
                <ul *ngIf="valide" class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of reponse_ajoute">{{item.reponse}}</li>
                </ul>
                <!--Réponse-->
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="radio" aria-label="Radio button for following text input">
                        </div>
                    </div>

                    <input type="text" class="form-control" aria-label="Text input with radio button"
                        placeholder="réponse" [(ngModel)]="reponse" list="cars">
                     <datalist id="cars">
                        <option *ngFor="let i of AllReponse">{{i.reponse}}</option>

                      </datalist>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="addResponse()">Ajouter</button>
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-info" type="button" (click)="addfeedback()">Valider</button>

        </div>

    </div>

</div>

<div class="card shadow mb-4" style="width: 42rem; margin-left: auto; margin-right: auto;"
    *ngFor="let item of Get_question">

    <div class="card-body">
        <h4 class="card-title"><input type="text" class="form-control" style="border:none;"
                aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{item.description}}"></h4>
        <ul>
            <span *ngFor="let item1 of Get_reponse">
                <li *ngIf="item1.id_question==item.id_question">
                    {{item1.reponse}}
                </li>
            </span>
        </ul>
        <button class="card-link" (click)="deleteQuestion(item.id_question)">Supprimer</button>
    </div>

</div>