<h2 class="titre">Configuration des paramètres</h2>
<div class="col-lg-7" style="margin-left: auto; margin-right: auto;">


  <div class="card shadow mb-4">
    <div class="card-body">
      <form enctype="multipart/form-data" method="post" class="form-horizontal" role="form">

        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Adresse IP</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="name" placeholder="Adresse IP">
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Environnement</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="name" placeholder="Environnement">
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-sm-6 control-label">ID de base de données</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="name" placeholder="ID de base de données">
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">ID Magasin</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="name" id="name" placeholder="ID Magasin">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9" class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Valider</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
